.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
    display:none;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    /*background: rgba(0, 0, 0, 0.4);*/
    width: 100%;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.section-text {
  z-index: 999;
}
.section-text img {
  float: left;
}


.contact-text {
  margin-top:-50px;
}
.btn-email {
  left:25%;
}
/*======= UI Elements =======*/
span.accent-pink {
   color: #FC636B;
}
.accent-pink{
  color: #FC636B;
}
.fa {
  font-size:18px;
}
/*buttons*/

.btn-primary, .btn-primary:focus, .btn-primary:active{
  color: #fff;
  background-color: #FC636B;
  border-color: #FC636B;
}

.btn-primary:hover {
  background-color:#FF6D92;
  border-color: #FF6D92;
}

/*label*/
.label-info {
  background-color: #FC636B;
}


.section-footer {
    padding-top: 2.4rem;
    padding-bottom: 1rem;
}
/* ===== phone =====*/


.container {
  margin-left:auto;
  margin-right: auto;





}

.grid {
  margin-left:12%;
  margin-right:2%;
  padding: 20px;
  margin-top:-90px;
 }
.phone {
     border: #FC636B 0.2rem solid;

     border-radius: 2.4rem;
     padding:20px;
     height:11rem;
     width:260px;
     position:absolute;
     border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
     border-bottom: none;

}

.phone::before {
    background:#FC636B;
    border-radius: 0.15rem;
    content: '';
    height: 0.3rem;
    left: 50%;
    margin: -0.15rem 0 0 -1.25rem;
    position: absolute;
    top: 1.6rem;
    width: 2.5rem;
}

#load {
  display:none;
}

.load {
    display:inline-flex;
    float:left;
    border: 0.14rem solid #FC636B;
    padding: 12px 13px;
    border-radius: 14px;
    margin-top:99px;

    float: right;
    margin-right: 0px;
  }

  .dot {
    background-color:#FC636B;
    border-radius:100%;
    height: 7px;
    width: 7px;
    animation: anime 0.5s linear infinite alternate;
  }


.one {
  animation-delay:-0.33333s;
}
.two {
  animation-delay:-0.83333s;
}
.dot + .dot {
  margin-left:5px;
}

@keyframes anime {
  0%, 100% {
    background-color: #FC636B;
  }

  35% {
      background-color: #FF6D92;
    }

  60% {
     background-color:  #FFB900;
    }
}




.message {
  /*border: 0.14rem solid #FC636B;*/
  border-radius:12px;
  max-width:65%;
  font-family: 'Open-sans', sans-serif;
  font-size:14px;
  line-height:18px;
  background-color:#FC636B;
  color:white;
  padding: 7px 13px;
  margin-bottom:10px;


}


#hello {
  margin-top:4rem;

}
#hello::after {
  width:100%;
}
#replay {
  display:none;

  /*margin-right:20px;*/


}

.message:nth-child(even) {
  float:right;
  background-color:#FC636B;
  color:#fff;
}
.message:nth-child(odd) {
  float:left;
}

.list-group.skills .list-group-item {
  border:none;
}

.section-signup i {
  font-size: 26px;
}




/* scrolling stripes*/

.fullpage {
  height: 20vh;
  width: 100%;
  background: #312F38;
  color: #fff;
  text-align: center;
}

.bgpage {
  height: 150vh;
  width: 100%;
  background: #312F38;
  color: #fff;
  text-align: center;
}
.textwrapper{
  padding-bottom:50%;
  padding-bottom:50vh;
}
.pink {
  background: #FC636B;
}


.stripe {
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  overflow: hidden;
}
.stripe div {
  width: 100%;
  height: 49px;
  position: absolute;
  background: -webkit-linear-gradient(45deg, white 9%, transparent 9%)-9.16667px 10px, -webkit-linear-gradient(135deg, white 9%, transparent 9%)-9.16667px 11px, -webkit-linear-gradient(225deg, transparent 15%, white 15%, white 35%, transparent 35%) 16.33333px 10px, -webkit-linear-gradient(315deg, transparent 15%, white 15%, white 35%, transparent 35%) 16.33333px 10px;
  background: linear-gradient(45deg, white 9%, transparent 9%)-9.16667px 10px, linear-gradient(-45deg, white 9%, transparent 9%)-9.16667px 11px, linear-gradient(-135deg, transparent 15%, white 15%, white 35%, transparent 35%) 16.33333px 10px, linear-gradient(135deg, transparent 15%, white 15%, white 35%, transparent 35%) 16.33333px 10px;
  background-size: 49px 49px;
}

.stripes-wrapper2 .stripe div {
  background: -webkit-linear-gradient(45deg, #FC636B 9%, transparent 9%)-9.16667px 10px, -webkit-linear-gradient(135deg, #FC636B 9%, transparent 9%)-9.16667px 11px, -webkit-linear-gradient(225deg, transparent 15%, #FC636B 15%, #FC636B 35%, transparent 35%) 16.33333px 10px, -webkit-linear-gradient(315deg, transparent 15%, #FC636B 15%, #FC636B 35%, transparent 35%) 16.33333px 10px;
  background: linear-gradient(45deg, #FC636B 9%, transparent 9%)-9.16667px 10px, linear-gradient(-45deg, #FC636B 9%, transparent 9%)-9.16667px 11px, linear-gradient(-135deg, transparent 15%, #FC636B 15%, #FC636B 35%, transparent 35%) 16.33333px 10px, linear-gradient(135deg, transparent 15%, #FC636B 15%, #FC636B 35%, transparent 35%) 16.33333px 10px;
  background-size: 49px 49px;
}



/*  =======   MEDIA QUERIES ======= */
@media (max-width: 991px){

  .grid {
    margin-left:0;
  }
  h2.m-b-3{
    display: none;
  }

  .phone {
    width:250px;
  }
}
@media (max-width: 767px){
  /*.display-3 {
  margin-top:20rem;
  }*/
  .video-container .poster img {
    display: block;
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  /*video {
    display: none;
  }*/
  .section-text img {
    float: none;
  }
  .section-text  .row.p-y-3 {
    text-align: center;
  }
  .phone {
    display:none;
  }
  .btn-email {
    left:0;
  }
  .section-signup {
    padding-bottom: 3.8125rem;
  }
  .section-signup .container.col-md-4 {
    margin-top:5rem;
  }
}

@media (min-width: 768px) {

  .section-signup {
     padding-bottom: 6.625rem;
 }
}
